* {
    font-family: monospace;
}

body {
    background-color: rgb(214, 207, 207);
}

h1, h2 {
    text-align: center;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 26px;
    color: red;
}

table {
    /*position: relative;*/
    width: 1000px;
    border: 2px solid red;
    margin: 0 auto;
}

thead {
    background-color: coral;
    font-size: 20px;
}

td {
    border-bottom: 1px solid red;
    font-size: 16px;
}

.fixedWidth {
    width: 180px;
}

span {
    /*width: 100%;*/
    background-color: bisque;
    padding: 0 2px;
}